<h2>
  Copropriete {{ copropriete.title }}
</h2>
<a routerLink="/copropriete-list">Liste</a>
<router-outlet></router-outlet>
<div>
  <label>Nom : </label>
  <input [(ngModel)]="copropriete.nom" placeholder="Nom">
  <label>Adresse : </label>
  <input [(ngModel)]="copropriete.adresse" placeholder="Adresse">
  <label>Code postal : </label>
  <input [(ngModel)]="copropriete.code_postal" placeholder="Code postal">
  <label>Ville : </label>
  <input [(ngModel)]="copropriete.ville" placeholder="Ville">
</div>